@{
    var buttons = new List<string>() { "Parks & recreation", "Nature", "Get involved", "Our work", "MyDemo" };
    var contents = new List<string>() { "Content1", "Content2", "Content3", "Content4", "Content5", "Content6", "Content7", "Content8" };
}

<popover-container>
    @foreach (var (value, index) in buttons.Select((v, i) => (v, i)))
    {
        <popover :id="@index">
            @* Menu button *@
            <template #button>
                <button>@value</button>
            </template>

            @* Content displayed on hover *@
            <template #hovercontent>
                @foreach (var content in contents)
                {
                    <a href="#">@value @content</a>

                }
            </template>
        </popover>
    }
</popover-container>