@{
    var buttons = new List<string>() { "Parks & recreation", "Nature", "Get involved", "Our work" };
    var contents = new List<string>() { "Content1", "Content2", "Content3", "Content4", "Content5", "Content6", "Content7", "Content8" };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="modulepreload" href="main.js" />
    <link rel="stylesheet" crossorigin href="/assets/main.css">
</head>
<body>
<div id="app">
        <div v-if="header-skeleton" id="skeleton-header" class="flex min-h-[80px] items-center justify-center bg-lime-900">
         TEST
        </div>
    <page-layout>
        <template #header>
                @await Html.PartialAsync("_Header")
        </template>
        <template #body>
            @RenderBody()
        </template>
    </page-layout>
    <script type="module" crossorigin src="/assets/main.js"></script>
    @await RenderSectionAsync("Scripts", false)
</div>
</body>
</html>



